.pageContainer {
    padding-top:50px;
}

.titleContainer {
    background-color: rgba(255,255,255, 0.4);
    padding: 40px;
    border-radius: 7px;
    text-align: center
}

.spacer {
    margin-bottom: 20px;
}

.paper {
    padding: 10px;
    text-align: 'center';
    background-color: rgba(255,255,255, 0.4) !important;
}

.textCenter {
    text-align: center;
}
